*{
    margin: 0; 
    box-sizing: border-box;
}
body{
   min-height: 100vh;
   
   display: grid;
   place-items: center;
   justify-content: center;
   margin: 8px;
   
}
section{
    background: rgb(245, 156, 218);
     border-radius: 5px;  
     text-align: center;
     padding: 20px;
     box-shadow: 0 4px 20px rgb(255, 0, 212);
     max-width: 80%;
     width: 500px;
    
}




